body {
  margin: 0;
  font-family: Roboto, "思源黑体", "Segoe UI", Arial,
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #0f0f0f;
  color: #f1f1f1;
}

* {
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #1a1a1a;
}

::-webkit-scrollbar-thumb {
  background: #606060;
  border-radius: 0; /* 将滚动条改为直角 */
}

::-webkit-scrollbar-thumb:hover {
  background: #909090;
}

button {
  transition: all 0.2s ease;
}

button:active {
  transform: scale(0.98);
}
